@{
	ViewBag.Title = "Trade Page";
	ViewBag.CurrentUrl = "~/trade/index";
	ViewBag.PrintedUrl = "Microsoft Corp";
}
@model StockTrade

<form method="post">
<div class="box trading-panel">
	<div class="flex trading-panel-flex">
		<div id="stock-price-panel">
			<div class="stock">
				<h1 class="stock-title">@Model.StockName (@Model.StockSymbol)</h1>
				<h2 class="stock-price"><small class="text-grey">$ </small><span class="price">@Model.Price</span></h2>
			</div>
		</div>
		<div id="new-order-panel">
			<div class ="flex flex-direction-vertical">
					<h4 class="text-grey mb">New Order</h4>
					<div>
						<label asp-for="Quantity" class="mt">Quantity</label>
					</div>
					<div class="w-25">
						<input type="number" asp-for="Quantity" name="Quantity" class="form-input" autofocus="autofocus" required="required" placeholder="Quantity" min="1" max="100000" value="@Model.Quantity" />
					</div>
			</div>
			<div class="button-panel">
				<button type="submit" formaction="~/trade/sellorder" class="button-red-back button trading-button sell-button">
					<i class="fa-solid fa-arrow-down"></i>
					<span>Sell</span>
				</button>
				<button type="submit" formaction="~/trade/buyorder" class="button-green-back button trading-button buy-button">
					<i class="fa-solid fa-arrow-up"></i>
					<span>Buy</span>
				</button>
				@if(ViewBag.Errors != null){
					<div class="text-red mt">
						<ul>
								@foreach (var error in ViewBag.Errors)
								{
									<li>@error</li>
								}
						</ul>
					</div>
				}
			</div>
		</div>
	</div>
</div>

	<input type="hidden" asp-for="StockSymbol" />
	<input type="hidden" asp-for="StockName" />
	<input type="hidden" name="FinnhubToken" id="FinnhubToken" value="@ViewBag.Token" />
	<input type="hidden" asp-for="Price" />

</form>

@section Scripts{
	<script src="~/Scripts/FinnhubScript.js">
		</script>
}